[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = test repo
[access "refs/*"]
	owner = group user/zitiso
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/zitiso
	label-Verified = -1..+1 group user/zitiso
	push = group user/zitiso
	read = group user/zitiso
	rebase = group user/zitiso
	removeReviewer = group user/zitiso
	submit = group user/zitiso
[access "refs/heads/*"]
	create = group user/zitiso
	push = +force group user/zitiso
	pushMerge = group user/zitiso
	read = group user/zitiso
[access "refs/tags/*"]
	push = group user/zitiso
	push = +force group user/zitiso
